<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luckydeer.dao.users.daoImpl.SysUserDao">
	<resultMap id="BaseResultMap" type="cn.luckydeer.dao.users.dataobject.SysUserDo">
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="open_id" property="openId" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="dept_id" property="deptId" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, nick_name, open_id, url, mobile, status, create_time, dept_id
	</sql>

</mapper>